* {
	padding: 10px;
	margin: 10px;
}

.titulo-index {
	font-size: 30px;
	color: blue;
	text-align: center;
}

.tabela-prod {
	background-color: gray;
	color: white;
	height: 50px;
	width: 100%;
}

.btn-insere {
	background-color: green;
	color: white;
	cursor: pointer;
	width: 130px;
	height: 50px;
}

th {
	border: 3px solid white;
}

td {
	border: 3px solid white;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: white;
  color: black;
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}